* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BB8AEB;
}
.root {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #82659E;
    
}
#name {
    background-color: #ffffff;
    border: none;
    box-shadow: 3px 3px #82659E;
    padding: 0.5rem;
    margin: 0.5rem;
    color: #82659E;
    appearance: none;
    border-style: none;
    width: 60%;
    outline: none;
}
#name:focus {
    background-color: #ffffff;
    border: none;
    border-style: none;
    color: #82659E;
    appearance: none;
}
.container {
    display: flex;
    flex-flow: row wrap;
    align-items: space-around;
    justify-content: center;

}
.hidden {
    display: none;
}
.info {
    flex-basis: 40%;
    background-color: #82659E;;
  
    text-align: center;
    
    
    padding: 0 2rem;
    margin: 1rem;
}
.info:before {
    border: 2px solid black;
    top: 25px;
    left: 25px;
    z-index: -1;
}

.info h2{
    color: #B9EBCA;
    
}
.info p {
    color: #BB8AEB;;
}
.root span {
    color: #B9EBCA;
}